<h1>Bienvenido al carrito!</h1>

<div id="productList">
    {{#each cart}}
    <div id={{product._id}} class="productDiv">
        <h3>{{product.title}}</h3>
        <img class="productImage" src="{{product.image}}" alt="">
        <div>{{product.price}} US$</div>
        <div>stock left: {{product.stock}}</div>
        <div>QUANTITY: {{this.quantity}}</div>
        <div class="addRemove">
        <button class="plusButton"><i style="color: green;" class="fa-solid fa-square-plus"></i></button>
        <button class="minusButton"> <i style="color: red;" class="fa-sharp fa-solid fa-square-minus"></i></button>
        <button class="removeButton"><i style="color:grey" class="fa-solid fa-trash"></i></button>
        
        </div>    
            
    </div>
    {{/each}}

    <script src="/js/removeFromCart.js"></script>