<h1 style="text-align: center;">Lista de Usuarios</h1>
  <table style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr>
        <th style="padding: 8px; text-align: left; border 1px solid #ddd; background-color: #f2f2f2;">Correo Electrónico</th>
        <th style="padding: 8px; text-align: left; border: 1px solid #ddd; background-color: #f2f2f2;">Nombre</th>
        <th style="padding: 8px; text-align: left; border: 1px solid #ddd; background-color: #f2f2f2;">Rol</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td style="padding: 8px; text-align: left; border: 1px solid #979696;">{{email}}</td>
        <td contenteditable style="padding: 8px; text-align: left; border: 1px solid #979696;">{{name}}</td>
        <td style="padding: 8px; text-align: left; border: 1px solid #979696;">
          <select style="padding: 8px; font-size: 14px; width: 100%; background-color: #f2f2f2; border: none; cursor: pointer;">
             {{#if (equals rol "user")}}
            <option value="user" selected>user</option>
          {{else}}
            <option value="user">user</option>
          {{/if}}
          {{#if (equals rol "admin")}}
            <option value="admin" selected>admin</option>
          {{else}}
            <option value="admin">admin</option>
          {{/if}}
          {{#if (equals rol "premium")}}
            <option value="premium" selected>premium</option>
          {{else}}
            <option value="premium">premium</option>
          {{/if}}
        </select>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

<div style="text-align: center; margin-top: 10vh;">
  <button id="saveUsers" style="margin: 0 auto;">Save Changes</button>
</div>

<script src="/js/updateUsersAdmin.js"></script>