<h1>{{userInfo.name}} welcome to the product list!</h1>

{{#if userInfo.rol}}
<a id="addProduct" style="background-color: rgb(161, 161, 161);" href='/products/addProduct'>Add product</a>
{{/if}}

<div id="centrate">
    <div id="productList">
        {{#each products.docs}}
        <div id={{this._id}} class="productDiv">
            <h3>{{this.title}}</h3>
            <img class="productImage" src="{{this.image}}" alt="">
            <div>{{this.price}} US$</div>
            <div>stock left: {{this.stock}}</div>
            {{#if ../specialUser}}
            <button class="productButton">Add to cart</button>
            <button class="deleteProduct">Delete</button>
            {{/if}}
        </div>
        {{/each}}

        <div id="buttons">
            <button class="prevPage" onclick="window.location.href='{{products.prevLink}}';">
                < </button>

                    <div id="numPage">{{products.page}}</div>

                    <button class="nextPage" onclick="window.location.href='{{products.nextLink}}';">
                        >
                    </button>

        </div>
    </div>

</div>

<script type="module" src="/js/addToCart.js"></script>
<script type="module" src="/js/deleteProduct.js"></script>